.shop-product-slider {
    height: 100vh;
    width: 50%;
    background-color: #fff;
}
.shop-product-info {
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.shop-product-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-product-page-meta-wrapper {
    width: 60%;
    font-family: 'Poppins', sans-serif;
}

button.shop-product-add-to-cart,
button.shop-product-buy-now {
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 20px 40px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
}
button.shop-product-add-to-cart {
    background-color: #fff;
    color: #000;
    margin-right: 10px;
    
}
button.shop-product-buy-now {
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 25%);
    background-color: #000;
    color: #fff;
}
button.shop-product-add-to-cart:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 25%);

}
button.shop-product-buy-now:hover {
    background-color: #fff;
    color: #000;
    box-shadow: none;
}
.shop-product-slider {
    background-image: url('../Home/product2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
p.shop-product-page-category {
    text-transform: uppercase;
    color: gray;
    font-size: 12px;
    margin: 0;
}
h1.shop-product-page-title {
    margin: 10px 0;
}
p.shop-product-page-description {
    color: gray;
}
span.shop-product-page-price {
    font-size: 22px;
    font-weight: 600;
}
.shop-product-page-quantity {
    margin: 30px 0;
}
.shop-product-page-quantity button {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button.shop-product-page-qty-minus {
    background-color: #fff0;
    color: #000;
}
button.shop-product-page-qty-plus {
    background-color: #000;
    color: #fff;
}
button.shop-product-page-qty-plus:hover {
    background-color: #fff0;
    color: #000;
    
}
button.shop-product-page-qty-minus:hover {
    background-color: #000;
    color: #fff;

}
.shop-product-page-qty-input {
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: 0;
    font-size: 22px;
}
.shop-product-page-slider-navigation {
    margin: auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
button.shop-product-page-next {
    position: absolute;
    right: 2%;
    top: 0;
    bottom: 0;
    width: 5%;
    background-image: url(../CategoryPage/arrow.svg);
}
button.shop-product-page-back {
    position: absolute;
    left: 2%;
    top: 0;
    bottom: 0;
    width: 5%;
    background-image: url(arrowback.svg);
}
.shop-product-page-navigation button {
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0000;
    cursor: pointer;
}
.shop-product-page-navigation button:hover {
    background-size: contain;
}