.Cont h1 {
  margin: 50px 0;
}
.HCard div {
  width: 50%;
}
.HCard {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(255, 255, 255, 0.2) 100%
  );
  padding: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 25px;
}
.VCard {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 50px;
}
.VCard > div {
  overflow: hidden;
  position: relative;
  padding: 50px;
  width: 50%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transition: background 1.3s ease;
  cursor: pointer;
  border-radius: 25px;
}
.HCard:hover .GradOver,
.VCard > div:hover .GradOver {
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(255, 255, 255, 0.3) 100%
    ); */
  opacity: 1;
}
.Cont h3 {
  font-size: 26px;
}
.Cont p {
  margin-bottom: 30px;
}
.Cont span {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.Cont button {
  display: block;
  margin: 0 auto;
}
.Img1,
.Img2,
.Img3 {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
  border-radius: 25px;
}
.Img1 {
  background-image: url("./img1.jpg");
}
.Img2 {
  background-image: url("./img2.png");
}
.Img3 {
  background-image: url("./img3.png");
}

.HCard > div > span,
.VCard > div > span {
  font-size: 52px;
}
.GradOver {
  position: absolute;
  top: -200%;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-radial-gradient(
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.1;
  transition: all 0.3s;
  /* aspect-ratio: 1 / 1; */
}
@media only screen and (max-width: 1200px) {
  .Cont {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 800px) {
  .VCard,
  .VCard > div,
  .HCard > div,
  .HCard {
    width: 100%;
    flex-direction: column;
  }

  .HCard,
  .VCard > div {
    padding: 25px;
  }
  .VCard > div,
  .HCard {
    border-radius: 0;
  }
  .SectionHeader {
    padding: 0 25px;
  }
}
