.Cont {
  padding: 50px 0;
  background: -webkit-linear-gradient(
      -90deg,
      rgba(15, 15, 15, 0.6) 30%,
      rgba(15, 15, 15, 1) 100%
    ),
    url(http://localhost:3000/static/media/texture.20d54e4c3f025aaec0b3.webp);
  overflow: hidden;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  gap: 50px;
}
.TstWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  background-size: cover;
  transition: all 0.6s ease-out;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.Sheet {
  height: auto;
  display: flex;
  transition: all 1s ease-out;
}
.Cont h1::after,
.Cont h1::before {
  content: ' " ';
  color: #32cd32;
  font-size: 22px;
}
.Cont h1 {
  margin: 0;
  margin-bottom: 30px;
}
.Cont button {
  margin: 0 25px;
}
.Col1,
.Col2 {
  width: 50%;
  text-align: left;
}
.Col1 {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin-right: 50px;
  box-sizing: border-box;
  min-height: 400px;
}
.Col2 {
  padding-right: 20%;
  box-sizing: border-box;
}
/* .left {
  background-image: url("./left.svg");
}
.right {
  background-image: url("./right.svg");
} */
.Left,
.Right {
  background-color: #fff0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
  filter: saturate(0) brightness(100);
  transition: all 0.3s;
}

.Left:hover {
  translate: -10px;
  filter: saturate(100%);
}

.Right:hover {
  translate: 10px;
  filter: saturate(100%);
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 800px) {
  .TstWrapper {
    flex-direction: column;
    justify-content: center;
  }
  .Col2 {
    padding: 0;
    margin-top: 25px;
  }
}
