.shop-header {
    height: 100px;
    color: #000;
    margin-bottom: -100px;
    z-index: 100;
    position: relative;
}
.shop-menu-item {
    display: inline-block;
    padding: 0 15px;
    height: 64px;
    transition: all 0.3s ease-in-out;
}

.shop-menu-wrapper {
    width: fit-content;
    line-height: 64px;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}
.shop-menu-second {
    width: fit-content;

}

.shop-logo-wrapper {
    height: 64px;
    max-width: 150px;
}

.shop-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    padding: 30px 10%;
}
.shop-menu-search,
.shop-menu-cart-icon,
.shop-menu-item {
    cursor: pointer;
}
.cart-svg {
    background-image: url('./cart.svg');
}
.search-svg {
    background-image: url('./search.svg');    
}
.search-svg,
.cart-svg {
    width: 40px;
    height: 40px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.shop-menu-cart-icon,
.shop-menu-search {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 15px;
}
.shop-menu-item:hover {
    font-size: 18px;
}


.open .shop-menu-drop-down {
    opacity: 1;
    top: 0;
    z-index: 2;
}
span.shop-menu-drop-item {
    transition: all 0.4s ease-in-out;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 25%;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
span.shop-menu-drop-item:hover {
    font-size: 26px;
}
span.shop-menu-drop-item.active {
    font-size: 26px;
    font-weight: 800;
}

.closed .shop-menu-burger span {
    background-image: url("./menuclosed.svg");
}
.open .shop-menu-burger span {
    background-image: url("./menuopen.svg");
}
.shop-menu-burger span.shop-menu-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 50px;
    height: 100%;
}
.shop-menu-burger {
    height: 100%;
    width: 64px;
    cursor: pointer;
}

.shop-menu-cart-drop-down ,
.shop-menu-drop-down {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0vw;
    transition: all 0.4s ease-in-out;
}
.cart-open .shop-menu-cart-drop-down,
.open .shop-menu-drop-down {
    width: 50vw;
}
.cart-open .shop-menu-cart-wrapper ,
.open .shop-menu-drop-list {
    box-shadow: 0px 0px 200px 100px #000000d9;
}
.shop-menu-cart-wrapper {
    height: calc(100vh - 0px);
    padding-top: 0px;
    
}
.shop-menu-drop-list {
    height: calc(100vh - 100px);
    padding-top: 100px;

}
.shop-menu-cart-wrapper ,
.shop-menu-drop-list {
    overflow: hidden;
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: flex-end;
    box-shadow: 0px 0px 20px 20px #0000;
    transition: all 0.4s ease-in-out;
}
h1.shop-menu-cart-title {
    height: 100px;
    line-height: 100px;
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
}
span.cart-items-length {
    background-color: red;
    border-radius: 50%;
    width: 15px;
    display: block;
    height: 15px;
    color: #fff;
    font-size: 12px;
}
span.cart-length {
    font-family: 'Poppins', sans-serif;
    width: 20px;
    text-align: center;
}

.shop-menu-cart {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: flex-start;
}
.shop-menu-cart {
    width: 100%;
    height: 100%;
    margin-right: 0;
    position: relative;
}
.shop-cart-menu-item {
    width: 75%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20%;
    padding-left: 5%;
    align-items: center;
}

.shop-cart-menu-item span.shop-cart-thumbnail {
    height: 70px;
    width: 70px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.shop-cart-continue ,
.shop-cart-checkout {
    font-family: 'Poppins', sans-serif;
    border: none;
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 25%);
    padding: 20px 40px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
}

.shop-cart-checkout:hover ,
.shop-cart-continue{
    background-color: #fff;
    color: #000;
    margin-right: 10px;
    
}
.shop-cart-continue:hover,
.shop-cart-checkout {
    background-color: #000;
    color: #fff;

}
.shop-cart-empty {
    margin: 30px 0 50px;
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    padding-right: 20%;
}
.shop-menu-cart-products {
    max-height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.shop-cart-buttons,
.shop-cart-totals {
    padding-left: 5%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}
.shop-menu-cart-products::-webkit-scrollbar {
    width: 5px;
}

.shop-menu-cart-products::-webkit-scrollbar-track {
    background: none;
}

.shop-menu-cart-products::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
}
button.shop-cart-delete-item {
    border: none;
    background: none;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}
button.shop-cart-delete-item:hover {
    font-size: 22px;
}
span.shop-cart-item-title {
    width: 50%;
}
span.shop-cart-item-price ,
span.shop-cart-item-title ,
button.shop-cart-delete-item {
    font-family: 'Poppins', sans-serif;
}
span.shop-cart-item-quantity {
    display: contents;
}
.shop-cart-operators{
    font-family: 'Poppins', sans-serif;
}
.shop-cart-operators.substract,
.shop-cart-operators.add {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.shop-cart-operators.substract:hover,
.shop-cart-operators.add:hover {
    font-size: 26px;
}