.shop-header {
    height: 100px;
    color: #000;
    margin-bottom: -100px;
    z-index: 100;
    position: relative;
}
.shop-menu-item {
    display: inline-block;
    padding: 0 15px;
    height: 64px;
    transition: all 0.3s ease-in-out;
}

.shop-menu-wrapper {
    width: fit-content;
    line-height: 64px;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}
.shop-menu-second {
    width: fit-content;

}

.shop-logo-wrapper {
    height: 64px;
    max-width: 150px;
}

.shop-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    padding: 30px 10%;
}
.shop-menu-search,
.shop-menu-cart,
.shop-menu-item {
    cursor: pointer;
}
.cart-svg {
    background-image: url('./cart.svg');
}
.search-svg {
    background-image: url('./search.svg');    
}
.search-svg,
.cart-svg {
    width: 40px;
    height: 40px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.shop-menu-cart,
.shop-menu-search {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 15px;
}
.shop-menu-item:hover {
    font-size: 18px;
}
.shop-menu-cart:hover span,
.shop-menu-search:hover span {
    width: 50px;
    background-repeat: no-repeat;
    height: 45px;
}
ul.shop-menu-drop-list {
    background: #fff;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    display: block;
}
.open .shop-menu-drop-down {
    opacity: 1;
    top: 0;
    z-index: 2;
}
span.shop-menu-drop-item {
    transition: all 0.4s ease-in-out;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 25%;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
span.shop-menu-drop-item:hover {
    font-size: 26px;
}
input.shop-header-search {
    height: 33px;
    background: none;
    border: 2px solid #0000;
    padding: 0;
    width: 0px;
    transition: all 0.3s ease-in-out;
    margin: 0;
    outline: none;
    color: #fff;
}
input.active.shop-header-search {
    margin-right: 10px;
    border: 2px solid #000;
    padding: 0 20px;
    width: 150px;
}


.closed .shop-menu-burger span {
    background-image: url("./menuclosed.svg");
}
.open .shop-menu-burger span {
    background-image: url("./menuopen.svg");
}
.shop-menu-burger span.shop-menu-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 50px;
    height: 100%;
}
.shop-menu-burger {
    height: 100%;
    width: 64px;
    cursor: pointer;
}

.shop-menu-drop-down {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0vw;
    transition: all 0.4s ease-in-out;
}
.open .shop-menu-drop-down {
    width: 50vw;
}
.open .shop-menu-drop-list {
    box-shadow: 0px 0px 200px 100px #000000d9;
}
.shop-menu-drop-list {
    overflow: hidden;
    height: calc(100vh - 100px);
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-evenly;
    padding-top: 100px;
    align-items: flex-end;
    box-shadow: 0px 0px 20px 20px #0000;
    transition: all 0.4s ease-in-out;
}