.Wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  .Gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    transition: all 0.3s;
    > div {
      width: calc(50% - 30px);
    }
  }
  .Grid2Col {
    > div {
      width: calc(50% - 30px);
    }
  }
  .Grid3Col {
    > div {
      width: calc(33.33333333% - 30px);
    }
  }
  .Grid4Col {
    > div {
      width: calc(25% - 30px);
    }
  }
  .List {
    > div {
      display: flex;
      flex-direction: row;
      width: calc(100% - 30px);
      gap: 15px;
      > div:first-child {
        width: calc(30% - 15px);
        padding: 70px;
        flex-grow: 0;
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      > div:first-child:hover > div {
        padding: 30px;
      }
    }
  }
  .Button {
    border-radius: 30px;
    padding: 0 30px;
    height: 50px;
    width: 220px;
    text-transform: uppercase;
    color: #0f0f0f;
    background-color: #fff;
    border: 1px solid #0f0f0f;
    cursor: pointer;
    transition: all 0.3s;
  }
  .Button:hover {
    background-color: #0f0f0f;
    color: #fff;
  }
  .FilterWrapper {
    width: 100%;
    padding: 30px;
  }
  .FilterContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
    .CategoryCard:hover {
      padding: 0 36px;
    }
    .CategoryCard {
      aspect-ratio: 3 / 4;
      padding: 0 40px;
      position: relative;
      width: 25%;
      background-color: #f8f8f8;
      border-radius: 10px;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      img {
        width: 100%;
        height: auto;
        mix-blend-mode: multiply;
      }
      button {
        border-radius: 30px;
        padding: 0 30px;
        height: 50px;
        width: auto;
        text-transform: uppercase;
        color: #0f0f0f;
        background-color: #fff;
        border: 0 solid #0f0f0f;
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
      }
      .ActiveFilter {
        color: #fff;
        background-color: #0f0f0f;
      }
    }
  }
  .FilterContainer1 {
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    .SortBy {
      select {
        border: 0;
        text-align: center;
        font-weight: 600;
        outline: 0;
      }
    }
    .FiltersButton {
      color: #fff;
      background-color: #000;
      border-radius: 3px;
      outline: none;
      border: 1px solid #000;
      cursor: pointer;
      padding: 5px 15px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      transition: all 0.3s;
      display: flex;
      gap: 5px;
      span {
        transition: all 0.3s;
        display: block;
        width: 15px;
        height: 15px;
        filter: brightness();
        background-image: url("./filter.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .FiltersButton:hover {
      color: #000;
      background-color: #fff;
      span {
        filter: brightness(0);
      }
    }
    .Organiser {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      .Active {
        filter: opacity(1);
      }
      span {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        filter: opacity(0.5);
        cursor: pointer;
        transition: all 0.3s;
      }
      span:hover {
        filter: opacity(1);
      }
      span.Grid2 {
        background-image: url("./grid2r.svg");
      }
      span.Grid3 {
        background-image: url("./grid3r.svg");
      }
      span.Grid4 {
        background-image: url("./grid4r.svg");
      }
      span.List {
        background-image: url("./list.svg");
      }
    }
  }
  .FilterContainer2 {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
