.Cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0f0f0f;
    padding: 15px;
    span {
      width: 30px;
      height: 30px;
      display: block;
      background-image: url("./x.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      filter: brightness(0.5);
      transition: all 0.3s;
    }
    span:hover {
      filter: brightness(0);
    }
    h3 {
      margin: 0;
    }
  }
  .Products {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    padding: 15px;
    height: 100%;
    > div {
      img {
        /* aspect-ratio: 2 / 3; */
        width: 20%;
        /* height: auto; */
      }
    }
    .ProductCard {
      display: flex;
      justify-content: flex-start;
      gap: 30px;
      font-family: "Jost", sans-serif;
      font-weight: 400;
      > span {
        width: 20%;
      }
      > div {
        width: 60%;
      }
      .Quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 90px;
        border: 1px solid #0f0f0f;
        border-radius: 5px;
        button,
        p {
          height: 30px;
          width: 30px;
          line-height: 30px;
        }
        p {
          text-align: center;
        }
        button {
          background: none;
          border: none;
          font-size: 26px;
          padding: 0;
          margin: 0;
        }
      }
      .Delete {
        width: 15px;
        height: 15px;
        background-image: url("./trash.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }
  }
  .Subtotal {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
}
