.Col1 {
  width: 70%;
}
.Col2 {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.Cont1 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 50px 0;
  gap: 80px;
}
.Cont1 h1 {
  margin: 0;
}
.Cont2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.StatBox {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 50px;
}
.StatBox:nth-child(2) {
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
}
.StatBox p {
  font-size: 22px;
}
.StatNum {
  font-size: 55px;
  font-weight: 900;
}
.Card {
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #656565;
  padding: 20px;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.Card:hover {
  color: #32cd32;
  border-color: #32cd32;
  border-radius: 15px;
}
.Card span {
  font-size: 26px;
}
.Card:hover > div {
  filter: saturate(100%);
}
.Img1,
.Img2,
.Img3,
.Img4 {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  filter: saturate(0%);
  transition: all 0.3s;
}
.Img1 {
  background-image: url("./1.svg");
}
.Img2 {
  background-image: url("./2.svg");
}
.Img3 {
  background-image: url("./3.svg");
}
.Img4 {
  background-image: url("./4.svg");
}
.Wrapper {
  position: relative;
  z-index: 2;
  background: url("./bck.png"), #0f0f0f;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 150px;
}
/* .Wrapper::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("./bck.png");
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.1;
} */
@media only screen and (max-width: 1200px) {
  .Wrapper {
    padding: 50px;
    .Cont2 {
      flex-wrap: wrap;
    }
    .Card {
      width: calc(50% - (25px / 2));
    }
    .StatBox {
      flex-direction: column;
      gap: 25px;
      text-align: center;
      padding: 25px 0;
    }
    .StatBox > p {
      margin: 0;
    }
    .Cont1 {
      gap: 50px;
    }
    .Col1 {
      width: 60%;
    }
    .Col2 {
      width: 40%;
    }
  }
}
@media only screen and (max-width: 800px) {
  .Wrapper {
    padding: 25px;
    .Cont1 {
      flex-direction: column;
    }
    .Cont2 {
      /* flex-direction: column; */
    }
    .Cont2 .Card,
    .Col1,
    .Col2 {
      width: 100%;
    }
  }
}
