.App {
  width: 350px;
  max-height: 600px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  box-shadow: -20px 30px 30px rgba(0, 0, 0, 0.3);
}

.App-logo {
  height: 90px;
  pointer-events: pointer;
  display: inline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 100px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 34px;
  display: inline;
}

.taskList {
  padding: 0px 0;
  margin: 0;
  min-height: 400px;
  overflow-y: scroll;
  max-height: 400px;
}

.taskFooter {
  background-color: #282c34;
  padding: 0;
  border: 0;

}


button.deleteTask:hover {
  color: #fff;
  background-color: rgb(173, 76, 76);
  transition-duration: 0.5s;
  cursor: pointer;
}

.addTask,
.deleteAll {
  background: 0;
  border: none;
  color: #ffffff;
  width: 10%;
  height: 30px;
}

button.deleteAll:hover {
  background-color: rgb(173, 76, 76);
  color: #282c34;
  transition-duration: 0.5s;
  cursor: pointer;
}

button.addTask:hover {
  background-color: #b3c1dd;
  color: #282c34;
  transition-duration: 0.5s;
  cursor: pointer;
}

input.taskInput {
  border: 0;
  margin: 0;
  height: 30px;
  width: 70%;
  padding: 0 5%;
}

input.taskInput:focus-visible {
  outline: none;
}


span.task.done {
  text-decoration: line-through;
  color: gray;
}

div.taskContainer {
  border-bottom: 1px solid gray;
  position: relative;
}

span.task {
  padding: 10px 7% 3px 3%;
  cursor: pointer;
  display: block;
  width: 90%;
}

.deleteTask {
  border-radius: 50%;
  background: 0;
  border: none;
  color: #282c34;
  width: 20px;
  height: 20px;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
}

p.taskDate {
  margin: 0 2%;
  color: gray;
  font-size: 10px;
}


.taskList::-webkit-scrollbar {
  width: 5px;
}

.taskList::-webkit-scrollbar-thumb {
  background-color: #282c34;
}

.taskList::-webkit-scrollbar-track {
  background-color: transparent;
}

.taskList::-webkit-scrollbar-button {
  display: none;
}