@import url("https://fonts.googleapis.com/css?family=Montserrat");

.THeading {
  z-index: 2;
  font-size: 65px;
  margin: 35px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6px;
  margin: 0;
  color: #fff;
}
.TCaption::after {
  content: " ";
  height: 2px;
  width: 100px;
  background-color: #383838;
  display: inline-block;
  margin: 0 25px;
}
.TCaption {
  z-index: 2;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.6px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: rgb(137, 137, 137);
  display: flex;
  align-items: center;
}
.TParagraph {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(222, 222, 222);
}
.TTextNegative {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  text-shadow: none;
}
.Accent {
  color: #32cd32;
  background: -webkit-linear-gradient(
    -45deg,
    rgba(144, 237, 137, 1) 0%,
    rgba(50, 205, 50, 1) 48%,
    rgba(15, 130, 15, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ButtonAccent {
  background: -webkit-linear-gradient(
    -45deg,
    rgba(144, 237, 137, 1) 0%,
    rgba(50, 205, 50, 1) 48%,
    rgba(15, 130, 15, 1) 100%
  );
  border: none;
  color: #fff;
  padding: 20px 0px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #fff0;
  z-index: 2;
  border-radius: 15px;
}
.ButtonAccent:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #32cd32;
}
.Button {
  background-color: #fff;
  color: #32cd32;
  padding: 20px 40px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
  text-transform: uppercase;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  border: 1px solid #fff;
  z-index: 2;
  border-radius: 15px;
}
.Button:hover {
  background-color: #32cd32;
  color: #fff;
  background: -webkit-linear-gradient(
    -45deg,
    rgba(144, 237, 137, 1) 0%,
    rgba(50, 205, 50, 1) 48%,
    rgba(15, 130, 15, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: rgba(50, 205, 50, 1);
}

@media only screen and (max-width: 1200px) {
  .THeading {
    font-size: 46px;
  }
  .TCaption {
    font-size: 10px;
  }
  .TParagraph {
    font-size: 14px;
  }
}

.ButtonStyle2 {
  background-color: #fff;
  border: none;
  color: #32cd32;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
  text-transform: uppercase;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  z-index: 2;
}
.ButtonStyle2:hover {
  background-color: #32cd32;
  color: #fff;
  background: -webkit-linear-gradient(
    -45deg,
    rgba(144, 237, 137, 1) 0%,
    rgba(50, 205, 50, 1) 48%,
    rgba(15, 130, 15, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*ICONS*/
.ArrUp,
.ArrDown,
.ArrDiag,
.ArrRight,
.ArrLeft {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.ArrUp {
  background-image: url("./Assets/arrdiag.svg");
}
.ArrDown {
  background-image: url("./Assets/arrdown.svg");
}
.ArrDiag {
  background-image: url("./Assets/arrdiag.svg");
}
.ArrRight {
  background-image: url("./Assets/arrright.svg");
}
.ArrLeft {
  background-image: url("./Assets/arrleft.svg");
}

@media only screen and (max-width: 700px) {
  .THeading {
    font-size: 34px;
  }
  .TCaption {
    font-size: 12px;
  }
  .TCaption::after {
    width: 60px;
  }
}
